body {
    margin:0;
}
.info-grid {
    display: grid;
    grid-template-columns: 40px 1fr;
}


.thumbnail {
    width: 100%;

}


.profiles {

    vertical-align: top;
    margin-right: 5px;
    margin-top: 8px;
}
.profile {
    width: 30px;
    border-radius: 20px;

}
.content {

    font-size: 10px;
}
.title {
    font-weight: bold;

}
.channel , .views  {
    color: gray;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 35px;
}

.vid-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 4px;

    font-size: 13px;

}

.thumbnail-row{
    position: relative;
}
